packages/datacart-explorer/workflows/datacart-schema.json
{
  "name": "DataCart - Schema API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dc/schema",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-schema",
      "name": "Webhook Schema",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dc-schema"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst database = query.database || 'r_datacart';\nreturn [{ json: { database: database } }];"
      },
      "id": "code-parse-params",
      "name": "Parser params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "r_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "r_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "e_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "e_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "m_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "m_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-database",
      "name": "Router Database",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.table_schema as schema, t.table_name as name, COALESCE(s.n_live_tup, 0) as row_count, EXISTS(SELECT 1 FROM geometry_columns gc WHERE gc.f_table_schema = t.table_schema AND gc.f_table_name = t.table_name) as has_geometry FROM information_schema.tables t LEFT JOIN pg_stat_user_tables s ON t.table_schema = s.schemaname AND t.table_name = s.relname WHERE t.table_type = 'BASE TABLE' AND t.table_schema NOT IN ('pg_catalog', 'information_schema', 'tiger', 'tiger_data', 'topology') ORDER BY t.table_schema, t.table_name",
        "options": {
          "queryTimeout": 60
        }
      },
      "id": "pg-schema-r",
      "name": "Schema r_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 160],
      "credentials": {
        "postgres": {
          "id": "r-datacart-postgres",
          "name": "r_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.table_schema as schema, t.table_name as name, COALESCE(s.n_live_tup, 0) as row_count, EXISTS(SELECT 1 FROM geometry_columns gc WHERE gc.f_table_schema = t.table_schema AND gc.f_table_name = t.table_name) as has_geometry FROM information_schema.tables t LEFT JOIN pg_stat_user_tables s ON t.table_schema = s.schemaname AND t.table_name = s.relname WHERE t.table_type = 'BASE TABLE' AND t.table_schema NOT IN ('pg_catalog', 'information_schema', 'tiger', 'tiger_data', 'topology') ORDER BY t.table_schema, t.table_name",
        "options": {
          "queryTimeout": 60
        }
      },
      "id": "pg-schema-e",
      "name": "Schema e_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "e-datacart-postgres",
          "name": "e_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.table_schema as schema, t.table_name as name, COALESCE(s.n_live_tup, 0) as row_count, EXISTS(SELECT 1 FROM geometry_columns gc WHERE gc.f_table_schema = t.table_schema AND gc.f_table_name = t.table_name) as has_geometry FROM information_schema.tables t LEFT JOIN pg_stat_user_tables s ON t.table_schema = s.schemaname AND t.table_name = s.relname WHERE t.table_type = 'BASE TABLE' AND t.table_schema NOT IN ('pg_catalog', 'information_schema', 'tiger', 'tiger_data', 'topology') ORDER BY t.table_schema, t.table_name",
        "options": {
          "queryTimeout": 60
        }
      },
      "id": "pg-schema-m",
      "name": "Schema m_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 440],
      "credentials": {
        "postgres": {
          "id": "m-datacart-postgres",
          "name": "m_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst schemas = {};\nitems.forEach(item => {\n  const s = item.json.schema;\n  if (!schemas[s]) schemas[s] = { name: s, tables: [] };\n  schemas[s].tables.push({ name: item.json.name, schema: s, rowCount: item.json.row_count, hasGeometry: item.json.has_geometry });\n});\nreturn [{ json: { success: true, schemas: Object.values(schemas), total_tables: items.length } }];"
      },
      "id": "code-format-schemas",
      "name": "Format schemas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Schema": {
      "main": [
        [
          {
            "node": "Parser params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser params": {
      "main": [
        [
          {
            "node": "Router Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Database": {
      "main": [
        [
          {
            "node": "Schema r_datacart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schema e_datacart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schema m_datacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema r_datacart": {
      "main": [
        [
          {
            "node": "Format schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema e_datacart": {
      "main": [
        [
          {
            "node": "Format schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema m_datacart": {
      "main": [
        [
          {
            "node": "Format schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format schemas": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
