packages/datacart-explorer/workflows/datacart-execute.json
{
  "name": "DataCart - Execute SQL API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dc/execute",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-execute",
      "name": "Webhook Execute",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dc-execute"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst sql = body.sql || '';\nconst database = body.database || 'r_datacart';\nconst limit = Math.min(body.limit || 1000, 10000);\n\nconst forbidden = ['INSERT ', 'UPDATE ', 'DELETE ', 'DROP ', 'CREATE ', 'ALTER ', 'TRUNCATE ', 'GRANT ', 'REVOKE '];\nconst upperSQL = sql.toUpperCase();\n\nif (!upperSQL.trim().startsWith('SELECT') && !upperSQL.trim().startsWith('WITH')) {\n  return [{ json: { validated: false, error: 'Seules les requêtes SELECT sont autorisées' } }];\n}\n\nfor (const kw of forbidden) {\n  if (upperSQL.includes(kw)) {\n    return [{ json: { validated: false, error: 'Mot-clé interdit: ' + kw.trim() } }];\n  }\n}\n\nlet finalSQL = sql.trim().replace(/;$/, '');\nif (!upperSQL.includes('LIMIT')) {\n  finalSQL = finalSQL + ' LIMIT ' + limit;\n}\n\nreturn [{ json: { sql: finalSQL, database: database, limit: limit, validated: true } }];"
      },
      "id": "code-validate-sql",
      "name": "Valider SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validated",
      "name": "SQL Valide",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "r_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "r_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "e_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "e_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "m_datacart",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.database }}",
                    "rightValue": "m_datacart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch-database",
      "name": "Router Database",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {
          "queryTimeout": 30
        }
      },
      "id": "pg-execute-r",
      "name": "Execute r_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 160],
      "credentials": {
        "postgres": {
          "id": "r-datacart-postgres",
          "name": "r_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {
          "queryTimeout": 30
        }
      },
      "id": "pg-execute-e",
      "name": "Execute e_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "e-datacart-postgres",
          "name": "e_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {
          "queryTimeout": 30
        }
      },
      "id": "pg-execute-m",
      "name": "Execute m_datacart",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 440],
      "credentials": {
        "postgres": {
          "id": "m-datacart-postgres",
          "name": "m_datacart PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst columns = rows.length > 0 ? Object.keys(rows[0]).map(k => ({ name: k, type: 'text' })) : [];\nreturn [{ json: { success: true, rows: rows, columns: columns, row_count: rows.length } }];"
      },
      "id": "code-format-results",
      "name": "Formater resultats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-validation-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Webhook Execute": {
      "main": [
        [
          {
            "node": "Valider SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider SQL": {
      "main": [
        [
          {
            "node": "SQL Valide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Valide": {
      "main": [
        [
          {
            "node": "Router Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Database": {
      "main": [
        [
          {
            "node": "Execute r_datacart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute e_datacart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute m_datacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute r_datacart": {
      "main": [
        [
          {
            "node": "Formater resultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute e_datacart": {
      "main": [
        [
          {
            "node": "Formater resultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute m_datacart": {
      "main": [
        [
          {
            "node": "Formater resultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater resultats": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
