packages/chart-agent-pro/workflow/chart-agent-pro-v2.json
{
  "name": "Chart Agent Pro v2 - Multi-Agent Conversational",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chart-agent-pro-v2",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "webhookId": "chart-agent-pro-v2"
    },
    {
      "parameters": {
        "jsCode": "// PARSE INPUT & DETECT FORMAT\nconst input = $input.first().json.body;\n\nconst isV2 = !!input.sessionId && !!input.message;\nconst isV1 = !!input.action;\n\nif (isV2) {\n  const grist = input.gristContext || {};\n  const schema = grist.schema || {};\n  const data = grist.data || {};\n  const nonEmptyTables = Object.keys(data).filter(t => Array.isArray(data[t]) && data[t].length > 0);\n  \n  return {\n    json: {\n      format: 'v2',\n      sessionId: input.sessionId,\n      timestamp: input.timestamp,\n      message: input.message,\n      conversationHistory: input.conversationHistory || [],\n      currentContext: input.currentContext || {},\n      schema: schema,\n      data: data,\n      nonEmptyTables: nonEmptyTables,\n      metadata: grist.metadata || {}\n    }\n  };\n} else if (isV1) {\n  if (input.action === 'analyze') {\n    return {\n      json: {\n        format: 'v1_analyze',\n        schema: input.schema || {},\n        dataSummary: input.dataSummary || {}\n      }\n    };\n  } else if (input.action === 'generate') {\n    const data = input.data || {};\n    const isArrayData = Array.isArray(data);\n    \n    return {\n      json: {\n        format: 'v1_generate',\n        sessionId: 'legacy-' + Date.now(),\n        message: {\n          type: 'user',\n          content: input.prompt || input.config?.title || 'Génère un graphique',\n          metadata: { config: input.config }\n        },\n        conversationHistory: [],\n        currentContext: {},\n        schema: input.schema || {},\n        data: isArrayData ? { [input.table || 'data']: data } : data,\n        nonEmptyTables: isArrayData ? [input.table || 'data'] : Object.keys(data).filter(t => Array.isArray(data[t]) && data[t].length > 0),\n        legacyConfig: input.config,\n        legacyTable: input.table\n      }\n    };\n  }\n}\n\nthrow new Error('Unknown input format');"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "v1_analyze", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "v1_analyze", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "v2", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "v2", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "v1_generate", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "v1_generate", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-format",
      "name": "Route by Format",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// V1 ANALYZE HANDLER (Suggestions)\nconst input = $input.first().json;\nconst dataSummary = input.dataSummary || {};\n\nconst suggestions = [];\n\nfor (const [tableId, tableInfo] of Object.entries(dataSummary)) {\n  if (!tableInfo.count || tableInfo.count === 0) continue;\n  \n  const columns = tableInfo.columns || [];\n  const choiceCols = columns.filter(c => c.type === 'Choice');\n  const numericCols = columns.filter(c => ['Numeric', 'Int'].includes(c.type));\n  \n  for (const col of choiceCols.slice(0, 2)) {\n    suggestions.push({\n      icon: '🥧',\n      title: `Répartition par ${col.label || col.id}`,\n      subtitle: tableId,\n      prompt: `Montre-moi la répartition par ${col.label || col.id} dans ${tableId}`\n    });\n  }\n  \n  if (choiceCols.length > 0 && numericCols.length > 0) {\n    suggestions.push({\n      icon: '📊',\n      title: `${numericCols[0].label || numericCols[0].id} par ${choiceCols[0].label || choiceCols[0].id}`,\n      subtitle: tableId,\n      prompt: `Montre-moi ${numericCols[0].label} par ${choiceCols[0].label} dans ${tableId}`\n    });\n  }\n  \n  if (choiceCols.length >= 2) {\n    suggestions.push({\n      icon: '🔄',\n      title: `Flux ${choiceCols[0].label || choiceCols[0].id} → ${choiceCols[1].label || choiceCols[1].id}`,\n      subtitle: tableId,\n      prompt: `Montre-moi le flux de ${choiceCols[0].label} vers ${choiceCols[1].label} dans ${tableId}`\n    });\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    suggestions: suggestions.slice(0, 6)\n  }\n};"
      },
      "id": "v1-analyze",
      "name": "V1 Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 100]
    },
    {
      "parameters": {
        "jsCode": "// ORCHESTRATOR AGENT\nconst input = $input.first().json;\n\nconst message = input.message;\nconst content = message?.content || '';\nconst contentLower = content.toLowerCase();\nconst context = input.currentContext || {};\nconst nonEmptyTables = input.nonEmptyTables || [];\n\nlet intent = 'unknown';\nlet confidence = 0.5;\nlet route = 'contextualizer';\nlet extractedEntities = { tables: [], columns: [], chartType: null, filters: [] };\n\nif (context.pendingClarification || message?.metadata?.selectedOption) {\n  intent = 'clarification_response';\n  confidence = 0.95;\n  route = 'contextualizer';\n} else if (/^(bonjour|salut|hello|hi|hey|coucou)/i.test(contentLower)) {\n  intent = 'greeting';\n  confidence = 0.95;\n  route = 'response';\n} else if (/^(aide|help|comment|qu'est-ce que|que peux)/i.test(contentLower)) {\n  intent = 'help';\n  confidence = 0.9;\n  route = 'response';\n} else if (/\\b(montre|affiche|visualis|graphique|chart|diagramme|camembert|pie|bar|ligne|sankey|flux|répartition|évolution|compare|analyse)\\b/i.test(contentLower)) {\n  intent = 'chart_request';\n  confidence = 0.85;\n  route = 'contextualizer';\n  \n  if (/\\b(flux|sankey|vers|->)\\b/i.test(contentLower)) extractedEntities.chartType = 'sankey';\n  else if (/\\b(camembert|pie|répartition|distribution)\\b/i.test(contentLower)) extractedEntities.chartType = 'pie';\n  else if (/\\b(évolution|tendance|temps|line|ligne)\\b/i.test(contentLower)) extractedEntities.chartType = 'line';\n  else if (/\\b(bar|barres?|histogramme)\\b/i.test(contentLower)) extractedEntities.chartType = 'bar';\n  \n  for (const table of nonEmptyTables) {\n    if (contentLower.includes(table.toLowerCase())) extractedEntities.tables.push(table);\n  }\n} else if (/\\b(combien|total|moyenne|max|min|statistique|nombre)\\b/i.test(contentLower)) {\n  intent = 'data_question';\n  confidence = 0.8;\n  route = 'analyst';\n} else if (context.activeChart && /\\b(filtre|modifie|change|ajoute|supprime|zoom|détail)\\b/i.test(contentLower)) {\n  intent = 'refinement';\n  confidence = 0.85;\n  route = 'contextualizer';\n} else {\n  intent = 'chart_request';\n  confidence = 0.6;\n  route = 'contextualizer';\n}\n\nreturn {\n  json: {\n    ...input,\n    orchestrator: { intent, confidence, route, extractedEntities }\n  }\n};"
      },
      "id": "orchestrator",
      "name": "Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "response", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.orchestrator.route }}", "rightValue": "response", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "contextualizer", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.orchestrator.route }}", "rightValue": "contextualizer", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "analyst", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.orchestrator.route }}", "rightValue": "analyst", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// RESPONSE AGENT (greetings, help)\nconst input = $input.first().json;\nconst intent = input.orchestrator?.intent || 'unknown';\nconst tables = input.nonEmptyTables || [];\n\nlet responseText = '';\nlet suggestedActions = [];\n\nswitch (intent) {\n  case 'greeting':\n    responseText = `Bonjour ! Je suis votre assistant d'analyse de données. `;\n    if (tables.length > 0) {\n      responseText += `Je vois ${tables.length} table(s) avec des données : ${tables.join(', ')}. Que souhaitez-vous visualiser ?`;\n      suggestedActions = [{ id: 'show_repartition', label: `Répartition dans ${tables[0]}`, params: { table: tables[0] } }];\n    }\n    break;\n  case 'help':\n    responseText = `Je peux vous aider à visualiser vos données :\\n📊 Graphiques : \"Montre-moi la répartition par statut\"\\n🔄 Flux : \"Flux de type friche vers type projet\"\\n📈 Évolutions : \"Évolution du budget dans le temps\"`;\n    break;\n  default:\n    responseText = `Je ne suis pas sûr de comprendre. Pouvez-vous préciser ?`;\n}\n\nreturn {\n  json: {\n    responseType: 'text',\n    content: { text: responseText },\n    suggestedActions\n  }\n};"
      },
      "id": "response-agent",
      "name": "Response Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "jsCode": "// ANALYST AGENT (data questions)\nconst input = $input.first().json;\nconst data = input.data || {};\nconst tables = input.nonEmptyTables || [];\n\nlet responseText = 'Voici les informations :\\n\\n';\nfor (const tableName of tables) {\n  const records = data[tableName] || [];\n  responseText += `**${tableName}**: ${records.length} enregistrements\\n`;\n}\n\nreturn {\n  json: {\n    responseType: 'text',\n    content: { text: responseText },\n    suggestedActions: [{ id: 'visualize', label: 'Visualiser ces données', params: {} }]\n  }\n};"
      },
      "id": "analyst-agent",
      "name": "Analyst Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://albert.api.etalab.gouv.fr/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'albert-large',\n  max_tokens: 1500,\n  temperature: 0.2,\n  messages: [\n    {\n      role: 'system',\n      content: `Tu es un expert en visualisation. Analyse la demande et retourne UNIQUEMENT du JSON.\n\nTABLES: ${$json.nonEmptyTables?.join(', ') || 'aucune'}\nSCHÉMA: ${JSON.stringify($json.schema?.tables || {}, null, 2).substring(0, 1500)}\nTYPE SUGGÉRÉ: ${$json.orchestrator?.extractedEntities?.chartType || 'auto'}\n\nFORMAT JSON:\n{\"action\":\"generate_chart|ask_clarification\",\"chartConfig\":{\"chartType\":\"bar|pie|line|sankey\",\"title\":\"Titre\",\"sourceTable\":\"Table\",\"mapping\":{\"category\":\"col\",\"value\":\"col\",\"source\":\"col\",\"target\":\"col\"},\"aggregation\":\"count|sum\"},\"clarification\":{\"question\":\"?\",\"options\":[{\"id\":\"x\",\"label\":\"X\"}]},\"confidence\":0.8}`\n    },\n    { role: 'user', content: $json.message?.content || 'Génère un graphique' }\n  ]\n}) }}",
        "options": {}
      },
      "id": "contextualizer-llm",
      "name": "Contextualizer LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "credentials": { "httpBearerAuth": { "id": "YOUR_CREDENTIAL_ID", "name": "Albert API" } }
    },
    {
      "parameters": {
        "jsCode": "// PARSE CONTEXTUALIZER RESPONSE\nconst input = $('Orchestrator').first().json;\nconst llmResponse = $input.first().json;\n\nlet analysis;\ntry {\n  const content = llmResponse.choices?.[0]?.message?.content || '';\n  let jsonStr = content;\n  const codeBlockMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (codeBlockMatch) jsonStr = codeBlockMatch[1].trim();\n  const jsonMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) analysis = JSON.parse(jsonMatch[0]);\n  else throw new Error('No JSON');\n} catch (e) {\n  const entities = input.orchestrator?.extractedEntities || {};\n  const tables = input.nonEmptyTables || [];\n  const defaultTable = entities.tables?.[0] || tables[0] || 'data';\n  const schema = input.schema?.tables?.[defaultTable]?.columns || [];\n  const categoricalCols = schema.filter(c => ['Choice', 'ChoiceList'].includes(c.type)).map(c => c.id);\n  \n  let chartType = entities.chartType || 'bar';\n  let mapping = {};\n  if (chartType === 'sankey') {\n    mapping.source = categoricalCols[0] || 'statut';\n    mapping.target = categoricalCols[1] || 'priorite';\n  } else {\n    mapping.category = categoricalCols[0] || 'statut';\n  }\n  \n  analysis = { action: 'generate_chart', chartConfig: { chartType, title: input.message?.content, sourceTable: defaultTable, mapping, aggregation: 'count' }, confidence: 0.6 };\n}\n\nlet route = 'chart_generator';\nif (analysis.action === 'ask_clarification') route = 'clarification';\nelse if (analysis.action === 'explain') route = 'explanation';\n\nreturn { json: { ...input, analysis, route } };"
      },
      "id": "parse-contextualizer",
      "name": "Parse Contextualizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "chart", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.route }}", "rightValue": "chart_generator", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "clarification", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.route }}", "rightValue": "clarification", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "explanation", "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.route }}", "rightValue": "explanation", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-analysis",
      "name": "Route Analysis",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// CHART GENERATOR\nconst input = $input.first().json;\nconst config = input.analysis?.chartConfig || {};\nconst data = input.data || {};\nconst schema = input.schema || {};\n\nconst sourceTable = config.sourceTable;\nlet records = data[sourceTable] || [];\nif (records.length === 0) {\n  const firstTable = input.nonEmptyTables?.[0];\n  if (firstTable) records = data[firstTable] || [];\n}\nif (records.length === 0) throw new Error('No data');\n\n// Build ref lookups\nconst refLookups = new Map();\nconst tableSchema = schema.tables?.[sourceTable]?.columns || [];\ntableSchema.filter(c => c.type === 'Ref').forEach(({ id, refTable }) => {\n  if (refTable && data[refTable]) {\n    const lookup = new Map();\n    data[refTable].forEach(row => {\n      const label = row.Nom || row.Name || row.Label || row.nom || row.id;\n      lookup.set(row.id, String(label));\n    });\n    refLookups.set(id, lookup);\n  }\n});\n\nconst resolveValue = (record, colName) => {\n  if (!colName) return 'Non défini';\n  if (colName.startsWith('gristHelper_Display')) return record[colName] ? String(record[colName]) : 'Non défini';\n  const rawValue = record[colName];\n  if (rawValue === null || rawValue === undefined) return 'Non défini';\n  const lookup = refLookups.get(colName);\n  if (lookup && lookup.has(rawValue)) return lookup.get(rawValue);\n  return String(rawValue);\n};\n\nconst chartType = config.chartType || 'bar';\nconst mapping = config.mapping || {};\nconst aggregation = config.aggregation || 'count';\nlet chartData;\n\nswitch (chartType) {\n  case 'sankey': {\n    let sourceCol = mapping.source;\n    let targetCol = mapping.target;\n    const displayCols = Object.keys(records[0] || {}).filter(k => k.startsWith('gristHelper_Display'));\n    if (!sourceCol) sourceCol = displayCols[0] || tableSchema.find(c => c.type === 'Choice')?.id;\n    if (!targetCol || targetCol === sourceCol) targetCol = tableSchema.find(c => c.type === 'Choice' && c.id !== sourceCol)?.id || 'statut';\n    \n    const linksMap = new Map();\n    const nodesSet = new Set();\n    records.forEach(r => {\n      const source = resolveValue(r, sourceCol);\n      const target = resolveValue(r, targetCol);\n      if (source === target || source === 'Non défini' || target === 'Non défini') return;\n      nodesSet.add(source);\n      nodesSet.add(target);\n      const key = `${source}|${target}`;\n      linksMap.set(key, (linksMap.get(key) || 0) + 1);\n    });\n    const nodes = Array.from(nodesSet).map(name => ({ name }));\n    const nodeIndex = Object.fromEntries(nodes.map((n, i) => [n.name, i]));\n    const links = Array.from(linksMap.entries()).map(([key, value]) => {\n      const [s, t] = key.split('|');\n      return { source: nodeIndex[s], target: nodeIndex[t], value };\n    });\n    chartData = { nodes, links };\n    break;\n  }\n  case 'pie':\n  case 'bar': {\n    let categoryCol = mapping.category || tableSchema.find(c => c.type === 'Choice')?.id || Object.keys(records[0] || {}).filter(k => k !== 'id')[0];\n    const valueCol = mapping.value;\n    const groups = new Map();\n    records.forEach(r => {\n      const cat = resolveValue(r, categoryCol);\n      const val = valueCol ? Number(r[valueCol]) || 0 : 1;\n      if (!groups.has(cat)) groups.set(cat, { sum: 0, count: 0 });\n      const g = groups.get(cat);\n      g.sum += val;\n      g.count += 1;\n    });\n    chartData = Array.from(groups.entries()).map(([cat, g]) => ({\n      category: cat,\n      value: aggregation === 'count' ? g.count : aggregation === 'avg' ? Math.round(g.sum / g.count * 100) / 100 : g.sum\n    }));\n    chartData.sort((a, b) => b.value - a.value);\n    break;\n  }\n  case 'line': {\n    const xCol = mapping.x || mapping.category;\n    const yCol = mapping.y || mapping.value;\n    const groups = new Map();\n    records.forEach(r => {\n      let xVal = r[xCol];\n      if (typeof xVal === 'number' && xVal > 1e9) xVal = new Date(xVal * 1000).toISOString().split('T')[0];\n      const yVal = yCol ? Number(r[yCol]) || 0 : 1;\n      if (!groups.has(xVal)) groups.set(xVal, { sum: 0, count: 0 });\n      const g = groups.get(xVal);\n      g.sum += yVal;\n      g.count += 1;\n    });\n    chartData = Array.from(groups.entries()).map(([x, g]) => ({ x, y: aggregation === 'count' ? g.count : g.sum }));\n    chartData.sort((a, b) => String(a.x).localeCompare(String(b.x)));\n    break;\n  }\n  default:\n    chartData = records.slice(0, 20);\n}\n\nreturn { json: { chartType, title: config.title || input.message?.content || 'Visualisation', data: chartData, mapping, aggregation, sourceTable, recordCount: records.length } };"
      },
      "id": "chart-generator",
      "name": "Chart Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "// HTML RENDERER\nconst input = $input.first().json;\nconst { chartType, title, data, recordCount } = input;\n\nconst colors = ['#4F46E5','#10B981','#F59E0B','#EF4444','#8B5CF6','#06B6D4','#EC4899','#84CC16'];\nconst esc = s => String(s).replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'})[c]);\n\nlet html;\nswitch (chartType) {\n  case 'pie':\n  case 'bar': {\n    const labels = (data || []).map(d => d.category || '');\n    const values = (data || []).map(d => d.value || 0);\n    html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>${esc(title)}</title><script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js\"></script><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;padding:24px;background:#fff}h1{font-size:1.25rem;color:#111;margin-bottom:24px;text-align:center}.c{max-width:700px;margin:0 auto}.l{margin-top:20px;text-align:center;font-size:0.8rem;color:#6B7280}</style></head><body><h1>${esc(title)}</h1><div class=\"c\"><canvas id=\"c\"></canvas></div><div class=\"l\">${recordCount} enregistrements</div><script>new Chart(document.getElementById('c'),{type:'${chartType==='bar'?'bar':'doughnut'}',data:{labels:${JSON.stringify(labels)},datasets:[{data:${JSON.stringify(values)},backgroundColor:${JSON.stringify(colors.slice(0,labels.length))},borderWidth:${chartType==='pie'?2:0},borderColor:'#fff',borderRadius:${chartType==='bar'?4:0}}]},options:{responsive:true,plugins:{legend:{display:${chartType==='pie'},position:'bottom'}},scales:${chartType==='bar'?'{y:{beginAtZero:true}}':'{}'}}});</script></body></html>`;\n    break;\n  }\n  case 'sankey': {\n    if (!data?.nodes?.length || !data?.links?.length) throw new Error('Invalid sankey');\n    const sd = data.links.map(l => [data.nodes[l.source]?.name||'?',data.nodes[l.target]?.name||'?',l.value]);\n    html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>${esc(title)}</title><script src=\"https://www.gstatic.com/charts/loader.js\"></script><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;padding:24px;background:#fff}h1{font-size:1.25rem;color:#111;margin-bottom:24px;text-align:center}#c{width:100%;height:500px}.l{margin-top:16px;text-align:center;font-size:0.8rem;color:#6B7280}</style></head><body><h1>${esc(title)}</h1><div id=\"c\"></div><div class=\"l\">${recordCount} enregistrements - ${data.nodes.length} catégories</div><script>google.charts.load('current',{packages:['sankey']});google.charts.setOnLoadCallback(()=>{const d=new google.visualization.DataTable();d.addColumn('string','From');d.addColumn('string','To');d.addColumn('number','Value');d.addRows(${JSON.stringify(sd)});new google.visualization.Sankey(document.getElementById('c')).draw(d,{sankey:{node:{colors:${JSON.stringify(colors)},label:{fontSize:12,bold:true}},link:{colorMode:'gradient'}}});});</script></body></html>`;\n    break;\n  }\n  case 'line': {\n    const labels = (data||[]).map(d => String(d.x||''));\n    const values = (data||[]).map(d => d.y||0);\n    html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>${esc(title)}</title><script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js\"></script><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;padding:24px;background:#fff}h1{font-size:1.25rem;color:#111;margin-bottom:24px;text-align:center}.c{max-width:800px;margin:0 auto}</style></head><body><h1>${esc(title)}</h1><div class=\"c\"><canvas id=\"c\"></canvas></div><script>new Chart(document.getElementById('c'),{type:'line',data:{labels:${JSON.stringify(labels)},datasets:[{data:${JSON.stringify(values)},borderColor:'#4F46E5',backgroundColor:'rgba(79,70,229,0.1)',fill:true,tension:0.3}]},options:{responsive:true,plugins:{legend:{display:false}},scales:{x:{grid:{display:false}},y:{beginAtZero:true}}}});</script></body></html>`;\n    break;\n  }\n  default: {\n    const items = Array.isArray(data) ? data.slice(0,10) : [];\n    const labels = items.map((d,i) => d.category||d.name||`Item ${i+1}`);\n    const values = items.map(d => d.value||1);\n    html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>${esc(title)}</title><script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js\"></script><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;padding:24px;background:#fff}h1{font-size:1.25rem;color:#111;margin-bottom:24px;text-align:center}.c{max-width:700px;margin:0 auto}</style></head><body><h1>${esc(title)}</h1><div class=\"c\"><canvas id=\"c\"></canvas></div><script>new Chart(document.getElementById('c'),{type:'bar',data:{labels:${JSON.stringify(labels)},datasets:[{data:${JSON.stringify(values)},backgroundColor:${JSON.stringify(colors.slice(0,labels.length))}}]},options:{responsive:true,plugins:{legend:{display:false}}}});</script></body></html>`;\n  }\n}\n\nreturn {\n  json: {\n    responseType: 'chart',\n    content: {\n      chart: { type: chartType, title, html, metadata: { recordCount, sourceTable: input.sourceTable } }\n    },\n    suggestedActions: [\n      { id: 'filter', label: 'Filtrer', params: {} },\n      { id: 'change_type', label: 'Changer le type', params: {} }\n    ],\n    contextUpdate: { lastIntent: 'chart_generated', activeChart: { type: chartType, title } }\n  }\n};"
      },
      "id": "html-renderer",
      "name": "HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "jsCode": "// CLARIFICATION RESPONSE\nconst input = $input.first().json;\nconst clarification = input.analysis?.clarification || {};\n\nreturn {\n  json: {\n    responseType: 'clarification',\n    content: {\n      clarification: {\n        question: clarification.question || 'Pouvez-vous préciser votre demande ?',\n        options: clarification.options || [],\n        allowFreeText: true\n      }\n    }\n  }\n};"
      },
      "id": "clarification-response",
      "name": "Clarification Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// EXPLANATION RESPONSE\nconst input = $input.first().json;\nconst explanation = input.analysis?.explanation || 'Je n\\'ai pas pu analyser votre demande.';\n\nreturn {\n  json: {\n    responseType: 'text',\n    content: { text: explanation }\n  }\n};"
      },
      "id": "explanation-response",
      "name": "Explanation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Route by Format", "type": "main", "index": 0 }]]
    },
    "Route by Format": {
      "main": [
        [{ "node": "V1 Analyze", "type": "main", "index": 0 }],
        [{ "node": "Orchestrator", "type": "main", "index": 0 }],
        [{ "node": "Orchestrator", "type": "main", "index": 0 }]
      ]
    },
    "V1 Analyze": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Orchestrator": {
      "main": [[{ "node": "Route by Intent", "type": "main", "index": 0 }]]
    },
    "Route by Intent": {
      "main": [
        [{ "node": "Response Agent", "type": "main", "index": 0 }],
        [{ "node": "Contextualizer LLM", "type": "main", "index": 0 }],
        [{ "node": "Analyst Agent", "type": "main", "index": 0 }]
      ]
    },
    "Response Agent": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Analyst Agent": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Contextualizer LLM": {
      "main": [[{ "node": "Parse Contextualizer", "type": "main", "index": 0 }]]
    },
    "Parse Contextualizer": {
      "main": [[{ "node": "Route Analysis", "type": "main", "index": 0 }]]
    },
    "Route Analysis": {
      "main": [
        [{ "node": "Chart Generator", "type": "main", "index": 0 }],
        [{ "node": "Clarification Response", "type": "main", "index": 0 }],
        [{ "node": "Explanation Response", "type": "main", "index": 0 }]
      ]
    },
    "Chart Generator": {
      "main": [[{ "node": "HTML Renderer", "type": "main", "index": 0 }]]
    },
    "HTML Renderer": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Clarification Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Explanation Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": { "instanceId": "chart-agent-pro-v2-multi-agent-fixed" }
}
